In [ ]:
#Introduction to Lists

In [64]:
students = ['alena','pavan','prabhu', 'ramesh']
print (students)

['alena', 'pavan', 'prabhu', 'ramesh']

In [65]:
type (students)

list

In [ ]:
#Introduction to Indexing the List

In [66]:
print(students[1])

pavan

In [67]:
print(students[3])

ramesh

In [68]:
print(students[3].title())

Ramesh

In [ ]:
# Appending a List

In [69]:
students.append('ajeet')
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'ajeet']

In [70]:
students.append('Diya')
print(students)

['alena', 'pavan', 'prabhu', 'ramesh', 'ajeet', 'Diya']

In [ ]:
# Adding a given name to a particular location using insert()

In [71]:
students.insert(3, 'harshita')
print(students)

['alena', 'pavan', 'prabhu', 'harshita', 'ramesh', 'ajeet', 'Diya']

In [72]:
print(students[3])

harshita

In [73]:
print(students)

['alena', 'pavan', 'prabhu', 'harshita', 'ramesh', 'ajeet', 'Diya']

In [75]:
print(students)
students[0]='anusha'

['anusha', 'pavan', 'prabhu', 'harshita', 'ramesh', 'ajeet', 'Diya']

In [76]:
print(students)

['anusha', 'pavan', 'prabhu', 'harshita', 'ramesh', 'ajeet', 'Diya']

In [78]:
print(students)
students[0]

['anusha', 'pavan', 'prabhu', 'harshita', 'ramesh', 'ajeet', 'Diya']

'anusha'

In [79]:
print(students)
students[1]

['anusha', 'pavan', 'prabhu', 'harshita', 'ramesh', 'ajeet', 'Diya']

'pavan'

In [81]:
del students[1]
print (students)

['anusha', 'prabhu', 'harshita', 'ramesh', 'ajeet', 'Diya']